@import '../../../assets/scss/variable.scss';

.wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  color: #FFFFFF;
}

.buttons {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
  // text-align: center;

}

.buttons a {
  color: #FFFFFF;
  text-transform: uppercase;
}
