<div class="container-fluid">
  <div class="wrap">
    <div class="logo">
      <img src="../../../assets/img/kulogo.png">
      <h2>ADMISSIONS</h2>
    </div>
    <div class="buttons">
      <a class="main-paragraph hover_effect" href="https://github.com/CoderDevoe/stux" _target="blank">Github</a>
      <a class="main-paragraph hover_effect" href="https://github.com/CoderDevoe/stux" _target="blank">About</a>
      <a class="main-paragraph hover_effect" href="https://www.kazirangauniversity.in/" _target="blank">KU page</a>
    </div>
  </div>
</div>
