<div class="container-fluid wrap">
  <!--   <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>

  </div> -->
  <div class="floating-chat enter" #chat [ngClass]="{'expand': showChatWindow, 'chatButAnim': showChatButton}" (click)="(canShowChatButton || showChatbutton) && openChat($event)">
    <i class="fa fa-comments" *ngIf="showChatButton" aria-hidden="true"></i>
    <!--     <a class="btn-floating btn-large red" (click)="openChat()">
      <i class="large material-icons">mode_edit</i>
    </a> -->
    <div class="chat" [ngClass]="{'enter': showChatWindow}" *ngIf="showChatWindow && captchaVerified">
      <div class="header">
        <span class="title">
          Do you need help?
        </span>
        <button (click)="closeChat($event)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <ul class="messages" #list>
        <!--         <li class="other">asdasdasasdasdasasdasdasasdasdasasdasdasasdasdasasdasdas</li>
        <li class="other">Are we dogs??? 🐶</li>
        <li class="self">no... we're human</li>
        <li class="other">are you sure???</li>
        <li class="self">yes.... -___-</li>
        <li class="other">if we're not dogs.... we might be monkeys 🐵</li>
        <li class="self">i hate you</li>
        <li class="other">don't be so negative! here's a banana 🍌</li>
        <li class="self">......... -___-</li>
        <li class="self-options">
          <div>
            <ul>
              <li><a href="#">Are you fucking high?</a></li>
              <li><a href="#">Why don't you just say it?</a></li>
              <li><a href="#">What's the meaning of life?</a></li>
              <li><a href="#">Am I your dad?</a></li>
            </ul>
          </div>
        </li>
 -->
        <li class="other" [ngClass]="{'self': message.flag === 'received', 'other': message.flag === 'sent'}" *ngFor="let message of messages;">{{message.message[0].message
          }}
          <div>
            <img *ngIf="message.message[0].imageURL" [src]="message.message[0].imageURL">
            <ul>
              <li tabindex="1" *ngFor="let button of message.message[0].buttons" (click)="sendMessageButton($event)"><a href="#">{{button.text}}</a></li>
            </ul>
          </div>
        </li>
        <li class="self" *ngIf="isloading">
          <div class="loading"><span></span></div>
        </li>
        <!-- <li id="end" class="self" style="visibility: hidden"></li> -->
      </ul>
      <div class="footer">
        <form [formGroup]="chatForm" class="form">
          <input class="text-box" type="text" name="inputText" autocomplete="off" formControlName="inputText">
          <button id="sendMessage" (click)="sendMessage()">send</button>
        </form>
      </div>
    </div>
    <div class="captcha" *ngIf="!captchaVerified && showChatWindow">
      <div class="header">
        <span class="title">
          Verify you are a human
        </span>
        <button (click)="closeChat($event)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <form [formGroup]="captchaForm">
        <ngx-recaptcha2 #captchaElem [siteKey]="captchaSiteKey" (reset)="handleReset()" (expire)="handleExpire()" (load)="handleLoad()" (success)="handleSuccess($event)" [useGlobalDomain]="false" [size]="'Normal'" [hl]="'en'" [theme]="'Light'" [type]="'Image'" formControlName="recaptcha">
        </ngx-recaptcha2>
      </form>
    </div>
    <div class="loader" *ngIf="captchaload && showChatWindow">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </div>
  <div class="content">
    <article>
      <img src="../../../assets/img/kuwall.jpg">
      <p>{{ aboutItems.length ? aboutItems[0].text : '' }}</p>
    </article>
    <article class="notice">
      <h6>NOTICES</h6>
      <ul class="noticeList">
        <li class="noticeItem" *ngFor="let item of noticeItems">
          <div>
            <p>{{ item?.message }}<p>
                <p><span>{{ item?.date }}</span></p>
          </div>
        </li>
      </ul>
    </article>
  </div>
</div>
