<div class="outer">
  <div class="form animated bounceIn">
    <h2>Login To Admin Account</h2>
    <form [formGroup]="loginForm">
      <input placeholder="Username" type="text" formControlName="username" />
      <input placeholder="Password" type="password" formControlName="password" />
      <p *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required">Please type your username</p>
      <p *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">Please type your password</p>
      <button (click)="login(loginForm.value)">Login</button>
    </form>
  </div>
</div>
<div *ngIf="showLoader" class="loader">
  <div class="square"></div>
  <div class="square"></div>
  <div class="square last"></div>
  <div class="square clear"></div>
  <div class="square"></div>
  <div class="square last"></div>
  <div class="square clear"></div>
  <div class="square "></div>
  <div class="square last"></div>
</div>
